*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(196, 196, 105, 0.769);
}
header{
    border: 5px solid yellow;
    height: 70px;
    width: 250px;
    margin-bottom: 40px;
    text-align: center;
}
section{
    border: 1px solid rgba(232, 232, 100, 0.802);
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(91, 85, 85);
    
}
button{
    padding: 8px 70px;
    margin-bottom: 20px;
    margin-top:80px;
    background-color: yellow;
    color:gray;
    font-weight: 600;
    border: 2px solid gray;
}
p{
margin-top: 50px;
color:white;
width: 90%;
padding: 10px;
text-align: center;
line-height: 1.6
}

img{
    margin-top: 10px;
    width: 50px;
}